name: Auto Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *" # chạy 30 phút 1 lần

jobs:
  scraper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install requests beautifulsoup4 lxml GitPython

      - name: Run scraper
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: python scraper_push_github.py
